
/* .chat-list-item-box {
  border-radius: 10px;
  box-shadow: 2px 2px var(--light-grey-100);
  padding: 10px; 
} */


/* .chat-list-item-info {
  padding: 5%;
} */

/* .chat-list-item-info-name {
  font-size: 10px;
  text-decoration: underline;
} */




/* 
.chat-list-item-img {
  width: 80px;
  height: 80px;
} */
