.chat-list-item-box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.delete-chat-button {
  border-radius: 5px;
  border: solid black 1px;
  font-size: 10px;
  width: fit-content;
}
.delete-chat {
  margin-top: 2%;
}
.delete-chat-button:hover {
  cursor: pointer;
}


