.chat-list-item-box:hover {
  cursor: pointer;
}

.delete-chat-button {
  border-radius: 5px;
  border: solid black 1px;
  font-size: 10px;
  width: fit-content;
}
.delete-chat {
  margin-top: 2%;
  width: fit-content;
}
.delete-chat-button:hover {
  cursor: pointer;
}


.chat-list-item-info-name{
  width: 250px;
  height: 100% !important;
}

