
.header{
  font-size: 39px;
}

.user-box{
  display: flex;

}
.user-info{
  margin-top: 15px;
  padding-left: 100px;
}
.user-info-placeholder{
  color: aliceblue;
}
.profile-img{
  width: 60px;
}

.list-of-users{
  overflow-y: scroll;
  background-color: lightslategray;
  border: solid black 2px;
  padding: 10px;
  max-height: 450px;
  width:300px;
}

#log-out-btn:hover{
transform: scale(1.2);
}


.list-group-item:hover{
background-color: limegreen;
cursor: pointer;
}
.chat-overview{
  background-color: lightslategray;
  border: black solid 2px;
  overflow-y: scroll;
  height: 350px;
  padding: 20px;
  max-width:400px;


}
.list-heading{
  margin-top: 15px;
}
.users:hover{
  cursor: pointer;
}

.footer{
margin-top: auto;
}

.content-items{
  height: 100vh;
  max-height: calc(100vh - 122px);
  padding-top: 50px;

}