
.header{
  font-size: 39px;
}

.user-box{
  display: flex;

}
.user-info{
  margin-top: 2%;
}
.user-info-placeholder{
  color: aliceblue;
}
.profile-img{
  width: 60px;
}

.no-chat{
  margin-top: 20%;
}
.list-of-users{
  overflow-y: scroll;
  background-color: grey;
  border: solid black 2px;
  padding: 10px;
  max-height: 150px;
  width:200px;
  margin-top: 10%;
}
.chat-overview{
  margin-top: 28%;
  background-color: antiquewhite;
  overflow-y: scroll;
  max-height: 150px;


}
.list-heading{
  margin-top: 2%;
}
.users:hover{
  cursor: pointer;
}

.content-items{
  background-color: rgb(99, 99, 99);
  height: 100%;
}