.chat-box{
    background-color: var(--purple-900);
    display: grid;
    
    
    
}
.threat{
    height: inherit;
    overflow-y: scroll;
    scrollbar-color: var(--blue-900) var(--purple-900);
    scrollbar-width: thin;
}

.message-list {
    display: grid;
}
.message-list > .message_sent{
    justify-self: right;
    
}
.message-list > .message_received{
    justify-self: left;
    
}
.sending-messages{
    grid-row-start: 2;
    padding: 0.5%;
    /* styling for children */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
}
.form-input{
   width: 100%;
   height: 100%;
   grid-row-start: 1;
   grid-row-end: 3;
   overflow-y: scroll;
   scrollbar-color: var(--blue-900) var(--purple-900);
   scrollbar-width: thin;
   
}
.send-btn{
    grid-column-start: 2;
}
.server-info{
    grid-column-start: 2;
    font-size: 70%;
    margin: 0;
    padding: 0;
}