
.chat-box{
    background-color: var(--purple-900);
    width: 50%;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: var(--blue-900), var(--purple-900);
    scrollbar-width: thin;
}

.message-list {
    display: grid;
}
.message-list > [type="send"]{
    justify-self: right;
    
}
.message-list > [type="send"]{
    justify-self: left;
    
}
