.chat-page{
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 20% 60% 10%;
    grid-template-rows: 10% 85% 5%;
    
}
.chat-sidebar{
    grid-column-start:2 ;
    grid-row-start: 2;
    /* grid-column-end: 2; */

}
.chat-box{
    grid-column-start:3 ;
    grid-row-start: 2;
    /* grid-row-end: 2;  */
}



