html,
body {
  height: 100%;
  width: 100%;
}

.home-page {
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.box {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: var(--purple-900);
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  grid-template-rows: 1fr 15fr 1fr;
}

.userBox {
  background-color: white;
  grid-column-start: 2;
  grid-row-start: 2;
  /*styling concerning its children*/
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 5fr 1fr 3fr 1fr 2fr 1fr;
}

.userImage {
  grid-row-start: 2;
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.circle {
  grid-column-start: 2;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.userInfo {
  grid-row-start: 4;
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 1fr 15fr 1fr 15fr 1fr;
}

.userInfoDetail {
  display: flex;
  justify-content: right;
  align-items: right;
  grid-column-start: 2;
  font-size: 2vw;
  font-weight: 500;
}

.userInfoPlaceholder {
  display: flex;
  justify-content: left;
  align-items: left;
  grid-column-start: 4;
  font-size: 2vw;
}

.settingsButton {
    grid-row-start: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatOverview {
  grid-column-start: 4;
  grid-row-start: 2;
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
}

.newChats {
  
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
 

}

.newChat {
  
  background-color: rgb(7, 173, 7);
  grid-column-start: 1;
  
  border-radius: 15px;
  text-align: center;
  
}

.newGroupChat {
  
  background-color: rgb(137, 150, 26);
  grid-column-start: 3;
  
  border-radius: 15px;
  text-align: center;
}
