.header{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
.header > h1{
    font-size: 48pt;
    color: aliceblue;
    text-shadow: 2px 2px black;
}
.header > img{
    width: 81px;
    height: 79px;
}
.input-container{
    display: flex;
}
.input-field{
    border-radius:10%;
    max-width: 213px;
    margin-left: auto;

}
.input-logo{
    margin-right: auto;
}

.button-default{
    margin-right: auto;
    margin-left: auto;
    background-color: var(--blue-500);
    height: 42px;
    width: 122px;
    border-radius: 10%;
    color: white; 
    font-weight: bold;
    text-decoration: none;
}

.error{
    margin-right: auto;
    margin-left: auto;
    max-width: max-content;
    color: red;
}

.forgot-pass{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    max-width: max-content;
}

