


.sign-in-box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header-welcome {
  font-size: 100px;
  text-shadow: 2px 2px black;
  margin-block: 0;
  padding: 0;
}

.inputs {
  grid-row-start: 4;
  /*styling concerning its children*/
  display: grid;
  grid-template-rows: 45% 45%;
  grid-row-gap: 30%;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
}

.input-field {
  border-radius: 2px;
  width: calc(0.4 * 50vw);
  height: inherit;
  margin-left: auto;
}

.input-logo {
  width: 30px;
  margin-right: auto;
}

.forgot-pass {
  grid-row-start: 5;
  margin-top: 3%;
  align-self: center;
  justify-self: center;
  text-decoration: underline;
}
.forgot-pass:hover {
  cursor: pointer;
}

.login-button {
  grid-row-start: 6;
  /*styling concerning its children*/
  align-items: center;
  justify-content: center;
}

.signup-button {
  grid-row-start: 7;
  /*styling concerning its children*/
  align-items: center;
  justify-content: center;
}
