


.sign-in-box{
  display: flex;
  flex-direction: column;
}

.header-logo{
  margin-top: 20px;
  margin-left: 20px;
}

.header-welcome {
  font-size: 100px;
  text-shadow: 2px 2px black;
  padding: 0;
  text-align: center;
}
.header-under{
  margin-block-start: 0;
  text-align: center;
}

.inputs {
  grid-row-start: 4;
  /*styling concerning its children*/
  display: grid;
  grid-template-rows: 45% 45%;
  grid-row-gap: 30%;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
}

.input-field {
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin-left: auto;
}

.input-logo {
  width: 30px;
  margin-right: auto;
}

.forgot-pass {
  margin-top: 3%;
  font-size: 12px;
  align-self: center;
  justify-self: center;
  text-decoration: underline;
}
.forgot-pass:hover {
  cursor: pointer;
}

