.password-reset{
    height: 100vh;
    /*styling concerning its children*/
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    
}

.purple-box{
    align-items: center;
    justify-items: center;
}

.heading{
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.input {
    /*styling concerning its children*/
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 40%;
  }