.message{
    margin:10px;
    width: fit-content;
    max-width: 50%;
}


.content[type = received]{ 
    background-color: var(--purple-100);
    border-radius: 600px 600px 600px 50px;
    
}

.content[type = send]{
    background-color: white;
    text-align: right;
    border-radius: 600px 600px 50px 600px;
}

.content{
    padding: 20px;
    
}

.author{
    color: white;
}

.timestamp{
    color:white;
    text-align: right;
    font-size: small;
}